nav.navbar-inverse.navbar-fixed-top.navbar
  div.container
    div.navbar-header    
      a(href='./').navbar-brand #{title}
    div.navbar-nav.navbar-right.nav
      a(href='mailto:nick.s.weaver@gmail.com').navbar-right.navbar-brand Question?