div(class='modal fade', id='postModal', tabindex='-1')
	div.modal-dialog
		div.modal-content#modalBody
			div.modal-header
				a.close(data-dismiss='modal', aria-hidden='true') &times
				h3.modal-title Posting to Craigslist
			div.modal-body
				p.text-center.lead Posting, please wait...
			div.modal-footer
				button(data-dismiss='modal').button.btn.btn-default Close