body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-xl {
  padding: 20px 32px;
  font-size: 36px !important;
  line-height: 1.33;
  border-radius: 12px;
}